@import "tailwindcss";

/* base colors */
:root {
  --color-primary: #000000;
  --color-secondary: #0a0f2e;
  --color-tertiary: #1e2e5a;
  --color-quaternary: #374768;
}

* {
  font-family: "Gruppo", sans-serif;
  font-style: normal;
}

/* fonts */
/* opcion 1 */
.title-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight:100;
  font-style: normal;
}

.logo-font {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
