@import "tailwindcss";

/* base colors */
:root {
  --color-primary: #000000;
  --color-secondary: #9810fa;
  --color-tertiary: #2f2f30;
  --color-quaternary: #3f3f40;
  --color-quinary: #4f4f50;
  --color-senary: #5f5f60;
  --color-septenary: #6f6f70;
  --color-octonary: #7f7f80;
  --color-nonary: #8f8f90;
  --color-denary: #9f9f90;
}


/* fonts */
/* opcion 1 */
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight:400;
  font-style: normal;
}

