@import "tailwindcss";

/* base colors */
:root {
  --color-primary: #000000;
  --color-secondary: #1f1f20;
  --color-tertiary: #2f2f30;
  --color-quaternary: #3f3f40;
  --color-quinary: #4f4f50;
  --color-senary: #5f5f60;
  --color-septenary: #6f6f70;
  --color-octonary: #7f7f80;
  --color-nonary: #8f8f90;
  --color-denary: #9f9f90;
}